body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.text_center{
  text-align: center;
}

.trail-search {
  background-color: tan;
}

.fx_weather {
  background-color: antiquewhite;
}