body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.text_center{
  text-align: center;
}

.trail-search {
  background-color: tan;
}

.future_wx {
  background-color: rgb(67, 50, 128);
  color: white;
  padding: .25rem;
  margin: .75rem;
  height: 15rem;
}
.heading-pics {
  height: 100%;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.items-centered {
  justify-items: right;
}

.accordion-title{
  background-color: grey;
  color: white;
}